[submodule "msgpack11"]
	path = twili/msgpack11
	url = https://github.com/ar90n/msgpack11.git
[submodule "twib2/externals/CLI11"]
	path = twib/externals/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "twib2/externals/msgpack11"]
	path = twib/externals/msgpack11
	url = https://github.com/misson20000/msgpack11.git
