[Unit]
Description=Twili Bridge Daemon Socket

[Socket]
ListenStream=@TWIB_UNIX_FRONTEND_DEFAULT_PATH@
SocketMode=0666
Accept=no

[Install]
WantedBy=sockets.target