[Unit]
Description=Twili Bridge Daemon
Requires=twibd.socket

[Service]
Type=notify
NotifyAccess=all
ExecStart=@TWIBD_PATH@ --systemd
StandardError=journal
